@import url('https://fonts.googleapis.com/css?family=Raleway:200|Open+Sans:400,700')

*
  margin: 0
  padding: 0
  box-sizing: border-box
  transition : .085s ease-in

html, body
  height: 100%
  width: 100%

a
  text-decoration: none